{% extends "layouts/default.twig" %}

{% block content %}


            <!--Page Title-->
            <section class="page-title" style="background-image:url(./assets/uploads/2018/02/bg-page-title-sugar-cane.jpg);">
                <div class="auto-container">
                    <h1>Contact Us</h1>
                </div>
            </section>

            <section class="contact-section">
                <div class="auto-container">
                    <!--Section Title-->
                    <div class="sec-title-one">
                        <h2>Leave a message here</h2>
                    </div>

                    <div class="contact-form default-form">
                        <div class="caldera-grid" id="caldera_form_1" data-cf-ver="1.5.9.1" data-cf-form-id="CF5a977f373062e">
                            <div id="caldera_notices_1" data-spinner="./assets/images/images/spinner.gif"></div>
                            <form data-instance="1" class="CF5a977f373062e caldera_forms_form cfajax-trigger _tisBound" method="POST"
                                enctype="multipart/form-data" id="CF5a977f373062e_1" data-form-id="CF5a977f373062e" aria-label="Contact Form"
                                data-target="#caldera_notices_1" data-template="#cfajax_CF5a977f373062e-tmpl" data-cfajax="CF5a977f373062e"
                                data-load-element="_parent" data-load-class="cf_processing" data-post-disable="0" data-action="cf_process_ajax_submit"
                                data-request="http://asiatrade.co.id/cf-api/CF5a977f373062e" data-hiderows="true">
                                <input type="hidden" id="_cf_verify_CF5a977f373062e" name="_cf_verify" value="c1b0013808"
                                    data-nonce-time="1548298705"><input type="hidden" name="_wp_http_referer" value="/index.php/contact/"><input
                                    type="hidden" name="_cf_frm_id" value="CF5a977f373062e">
                                <input type="hidden" name="_cf_frm_ct" value="1">
                                <input type="hidden" name="cfajax" value="CF5a977f373062e">
                                <input type="hidden" name="_cf_cr_pst" value="19">
                                <div class="hide" style="display:none; overflow:hidden;height:0;width:0;">
                                    <label>Email</label><input type="text" name="email" value="" autocomplete="off">
                                </div>
                                <div id="CF5a977f373062e_1-row-1" class="row  single">
                                    <div class="col-sm-12  single">
                                        <div data-field-wrapper="fld_1000895" class="form-group" id="fld_1000895_1-wrap">
                                            <label id="fld_1000895Label" for="fld_1000895_1" class="control-label">Name <span
                                                    aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                                            <div class="">
                                                <input required="" type="text" data-field="fld_1000895" class=" form-control" id="fld_1000895_1"
                                                    name="fld_1000895" value="" data-type="text" aria-required="true"
                                                    aria-labelledby="fld_1000895Label"> </div>
                                        </div>
                                        <div data-field-wrapper="fld_4763314" class="form-group" id="fld_4763314_1-wrap">
                                            <label id="fld_4763314Label" for="fld_4763314_1" class="control-label">Email <span
                                                    aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                                            <div class="">
                                                <input required="" type="text" data-field="fld_4763314" class=" form-control" id="fld_4763314_1"
                                                    name="fld_4763314" value="" data-type="text" aria-required="true"
                                                    aria-labelledby="fld_4763314Label"> </div>
                                        </div>
                                        <div data-field-wrapper="fld_4244144" class="form-group" id="fld_4244144_1-wrap">
                                            <label id="fld_4244144Label" for="fld_4244144_1" class="control-label">Phone <span
                                                    aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                                            <div class="">
                                                <input required="" type="text" data-field="fld_4244144" class=" form-control" id="fld_4244144_1"
                                                    name="fld_4244144" value="" data-type="text" aria-required="true"
                                                    aria-labelledby="fld_4244144Label"> </div>
                                        </div>
                                        <div data-field-wrapper="fld_7529306" class="form-group" id="fld_7529306_1-wrap">
                                            <label id="fld_7529306Label" for="fld_7529306_1" class="control-label">Message <span
                                                    aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                                            <div class="">
                                                <textarea name="fld_7529306" value="" data-field="fld_7529306" class="form-control"
                                                    id="fld_7529306_1" rows="4" required="required" aria-labelledby="fld_7529306Label"></textarea>
                                            </div>
                                        </div>
                                        <div data-field-wrapper="fld_4907586" class="form-group" id="fld_4907586_1-wrap">
                                            <div class="">
                                                <input class="btn btn-default" type="submit" name="fld_4907586" id="fld_4907586_1"
                                                    value="Kirim" data-field="fld_4907586">
                                            </div>
                                        </div>
                                        <input class="button_trigger_1" type="hidden" name="fld_4907586" id="fld_4907586_1_btn"
                                            value="" data-field="fld_4907586">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="info-section">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--Info Column-->
                        <div class="info-column col-md-4 col-sm-4 col-xs-12 wow fadeInUp animated" data-wow-delay="0ms"
                            data-wow-duration="1500ms">
                            <div class="column-header">
                                <h3>Address</h3>
                            </div>
                            <div class="info-box">
                                <div class="inner">
                                    <div class="icon"><span class="flaticon-placeholder"></span></div>
                                    <h4>Address</h4>
                                    <div class="text">Menara Karya Building 28th Floor,
                                        Jl. H. R. Rasuna Said Kav. 1-2 Blok X-5 Kuningan Timur,
                                        Jakarta 12950
                                        <br><br>
                                        Warehouse:<br>
                                        Jl. H. Baping No. 45, RT 12 RW 04
                                        Kel. Susukan, Kec. Ciracas, Jakarta Timur, Indonesia</div>
                                </div>
                            </div>
                        </div>

                        <!--Info Column-->
                        <div class="info-column col-md-4 col-sm-4 col-xs-12 wow fadeInUp animated" data-wow-delay="300ms"
                            data-wow-duration="1500ms">
                            <div class="column-header">
                                <h3>Call Now</h3>
                            </div>
                            <div class="info-box">
                                <div class="inner">
                                    <div class="icon"><span class="flaticon-technology-4"></span></div>
                                    <h4>Call to Us</h4>
                                    <div class="text">+62 21 2283 1441</div>
                                </div>
                            </div>
                        </div>

                        <!--Info Column-->
                        <div class="info-column col-md-4 col-sm-4 col-xs-12 wow fadeInUp animated" data-wow-delay="600ms"
                            data-wow-duration="1500ms">
                            <div class="column-header">
                                <h3>Emails us</h3>
                            </div>
                            <div class="info-box">
                                <div class="inner">
                                    <div class="icon"><span class="flaticon-envelope"></span></div>
                                    <h4>Info Services</h4>
                                    <div class="text">info@asiatrade.co.id</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <!--Map Section-->
            <section class="map-section">
                <div class="map-outer">
                    <!--Map Canvas-->
                    <div class="map-canvas" data-zoom="20" data-lat="-6.232856" data-lng="106.831152" data-type="roadmap" data-hue="#fc721e"
                        data-title="Asia Trade" data-content="Menara Karya Building, 28th Floor&lt;br&gt;&lt;a href=&#39;mailto:info@asiatrade.co.id.com&#39;&gt;info@asiatrade.co.id&lt;/a&gt;"
                        style="height:450px;">
                    </div>

                </div>
            </section>


{% endblock %}