{% extends "layouts/default.twig" %}

{% block content %}
                
            <!-- / Hidden Bar -->

            <!--Main Slider-->
            <section class="main-slider" id="scroll-section-one" data-start-height="900" data-slide-overlay="yes">                
              <div class="tp-banner-container">
                  <div class="tp-banner">
                      <ul>
                          
                          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="./assets/images/main-slider/image-3.jpg"  data-saveperformance="off" data-title="Beras">
                            <img src="./assets/images/main-slider/image-3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                            
                            <div class="tp-caption sfl sfb tp-resizeme"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-150"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"><h3>Beras</h3></div>
                            
                            <div class="tp-caption sfr sfb tp-resizeme"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-70"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"><div class="big-text">Kadar air max di 14%</div></div>
                            
                            <div class="tp-caption sfl sfb tp-resizeme"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="0"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"><a href="quote.html?item=rice" class="theme-btn btn-style-two"><span class="fas fa-tags"></span> Get a Quote</a></div>
                          
                          </li>
                          
                          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="./assets/images/main-slider/image-1.jpg"  data-saveperformance="off" data-title="Gula">
                            <img src="./assets/images/main-slider/image-1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                            
                            <div class="tp-caption sfr sfb tp-resizeme"
                            data-x="left" data-hoffset="15"
                            data-y="center" data-voffset="-10"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"><h3>Sugar<br>White Cristal Sugar</h3></div>
                            
                            <div class="tp-caption sfl sfb tp-resizeme"
                            data-x="left" data-hoffset="15"
                            data-y="center" data-voffset="110"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"><a href="products.html" class="theme-btn btn-style-two"><span class="fas fa-check"></span> Learn More</a> &ensp;&ensp; <a href="quote.html?item=sugar" class="theme-btn btn-style-three"><span class="fas fa-tags"></span> Get a Quote</a></div>
                            
                          </li>

                          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="./assets/images/main-slider/image-6.jpg"  data-saveperformance="off" data-title="Telur">
                            <img src="./assets/images/main-slider/image-6.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                            
                            <div class="tp-caption sfr sfb tp-resizeme"
                            data-x="left" data-hoffset="15"
                            data-y="center" data-voffset="-10"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"><h3>Telur<br>Ayam Negri</h3></div>
                            
                            <div class="tp-caption sfl sfb tp-resizeme"
                            data-x="left" data-hoffset="15"
                            data-y="center" data-voffset="110"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"><a href="products.html" class="theme-btn btn-style-two"><span class="fas fa-check"></span> Learn More</a> &ensp;&ensp; <a href="quote.html?item=eggs" class="theme-btn btn-style-three"><span class="fas fa-tags"></span> Get a Quote</a></div>

                          </li>

                          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="./assets/images/main-slider/image-7.jpg"  data-saveperformance="off" data-title="Ayam">
                            <img src="./assets/images/main-slider/image-7.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                            
                            <div class="tp-caption sfr sfb tp-resizeme"
                            data-x="left" data-hoffset="15"
                            data-y="center" data-voffset="-10"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"><h3>Ayam<br>Negri Premium</h3></div>
                            
                            <div class="tp-caption sfl sfb tp-resizeme"
                            data-x="left" data-hoffset="15"
                            data-y="center" data-voffset="110"
                            data-speed="1500"
                            data-start="500"
                            data-easing="easeOutExpo"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.01"
                            data-endelementdelay="0.3"
                            data-endspeed="1200"
                            data-endeasing="Power4.easeIn"><a href="products.html" class="theme-btn btn-style-two"><span class="fas fa-check"></span> Learn More</a> &ensp;&ensp; <a href="quote.html?item=eggs" class="theme-btn btn-style-three"><span class="fas fa-tags"></span> Get a Quote</a></div>

                          </li>
                      </ul>
                      
                      <div class="tp-bannertimer"></div>
                  </div>
              </div>
            </section>

            <!--Intro Section-->
            <section class="intro-section">
              <div class="inner-part">
                <div class="auto-container">
                  <div class="content-box">
                    <div class="inner-box">
                      <!--Section Title-->
                      <div class="sec-title-one">
                        <h2>About Us</h2>
                        <div class="lead">Perusahaan kami menyediakan berbagai macam kebutuhan pangan terutama beras, gula, telur dan ayam untuk HOREKA (Hotel, Restaurant &amp; Katering).</div>
                      </div>
                    </div>

                    <div class="row clearfix">
                      <!--Content Column-->
                      <div class="content-column col-md-3 col-sm-3 col-xs-12">
                        <div class="inner text-center wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                          <div class="inner-image"><img src="./assets/images/768p-rice.jpg" class="img-responsive"></div>
                          <h3>Beras</h3>
                          <div class="text">Beras dengan kadar air max di 14% dengan kualitas dari medium hingga premium.</div>
                          <a href="products.html" class="theme-btn btn-style-two">Selengkapnya</a>
                        </div>
                      </div>
                      <!--Content Column-->
                      <div class="content-column col-md-3 col-sm-3 col-xs-12">
                        <div class="inner text-center wow fadeInLeft animated" data-wow-delay="200ms" data-wow-duration="1700ms">
                          <div class="inner-image"><img src="./assets/images/768p-sugar.jpg" class="img-responsive"></div>
                          <h3>Gula</h3>
                          <div class="text">Gula Kristal Putih (GKP) yang terdiri dari berbagai jenis dan kualitas.</div>
                          <a href="products.html" class="theme-btn btn-style-two">Selengkapnya</a>
                        </div>
                      </div>
                      <!--Content Column-->
                      <div class="content-column col-md-3 col-sm-3 col-xs-12">
                        <div class="inner text-center wow fadeInLeft animated" data-wow-delay="400ms" data-wow-duration="1900ms">
                          <div class="inner-image"><img src="./assets/images/768p-eggs.jpg" class="img-responsive"></div>
                          <h3>Telur</h3>
                          <div class="text">Telur ayam negeri dengan kualitas premium yang berasal dari peternak pilihan.</div>
                          <a href="products.html" class="theme-btn btn-style-two">Selengkapnya</a>
                        </div>
                      </div>
                      <!--Content Column-->
                      <div class="content-column col-md-3 col-sm-3 col-xs-12">
                        <div class="inner text-center wow fadeInLeft animated" data-wow-delay="600ms" data-wow-duration="2100ms">
                          <div class="inner-image"><img src="./assets/images/768p-chicken.jpg" class="img-responsive"></div>
                          <h3>Ayam</h3>
                          <div class="text">Ayam negeri fresh maupun frozen dengan kualitas premium dari peternak pilihan.</div>
                          <a href="products.html" class="theme-btn btn-style-two">Selengkapnya</a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>              
            </section>

            <!--Fluid Section One-->
            <div class="secondary-slider">
              <div class="fluid-section-one">
                <!--FLoated Image Left-->
                <figure class="floated-image-left wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="./assets/images/503p-rice.png" alt=""></figure>
                <!--FLoated Image Right-->
                <figure class="floated-image-right wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="./assets/images/503p-sugar.png" alt=""></figure>      <div class="outer-box clearfix">
                  <!--Left Column-->
                  <div class="left-column">
                    <div class="clearfix">
                      <div class="inner-box text-right">
                        <h3>Beras</h3>
                        <h5>Beras Kualitas Premium</h5>
                        <a href="quote.html?item=rice" class="theme-btn btn-style-three">Get Quote</a>
                      </div>
                    </div>
                  </div>                  
                  <!--Right Column-->
                  <div class="right-column">
                    <div class="clearfix">
                      <div class="inner-box">
                        <h3>Gula</h3>
                        <h5>Gula Kristal Putih</h5>
                        <a href="quote.html?item=sugar" class="theme-btn btn-style-three">Get Quote</a>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="fluid-section-one">
                <!--FLoated Image Left-->
                <figure class="floated-image-left wow fadeInLeft animated" data-wow-delay="5ms" data-wow-duration="3000ms"><img src="./assets/images/503p-chicken.png" alt=""></figure>
                <!--FLoated Image Right-->
                <figure class="floated-image-right wow fadeInRight animated" data-wow-delay="5ms" data-wow-duration="3000ms"><img src="./assets/images/510p-eggs.png" alt=""></figure> 
                <div class="outer-box clearfix">
                  <!--Left Column-->
                  <div class="left-column">
                    <div class="clearfix">
                      <div class="inner-box text-right">
                        <h3>Ayam</h3>
                        <h5>Ayam Kualitas Premium</h5>
                        <a href="quote.html?item=chicken" class="theme-btn btn-style-three">Get Quote</a>
                      </div>
                    </div>
                  </div>  
                  <!--Right Column-->
                  <div class="right-column">
                    <div class="clearfix">
                      <div class="inner-box">
                        <h3>Telur</h3>
                        <h5>Telur Kualitas Premium</h5>
                        <a href="quote.html?item=eggs" class="theme-btn btn-style-three">Get Quote</a>
                      </div>
                    </div>
                  </div>                
                </div>
              </div>
            </div>
        
            <section class="sponsors-style-one alternate">
              <div class="auto-container">
                <div class="sec-title-one">
                  <h2>Clients</h2>
                </div>
                <div class="sponsors-outer">
                  <!--Sponsors Carousel-->
                  <ul class="sponsors-carousel">
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/4.png"
                                    alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/anugerah-catering.png"
                                    alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/2.png"
                                    alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/1.png"
                                    alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/pogu.png"
                                    alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/yello.png"
                                    alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/3.png"
                                    alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/4.png"
                                    alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/sponsors/asean-games-2018.png"
                                    alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/anugerah-catering.png"
                                    alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/2.png"
                                    alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/sponsors/indogrosir.png"
                                    alt="indogrosir"></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/1.png"
                                    alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/pogu.png"
                                    alt="pogu"></a></figure>
                    </li>
                    <li class="slide-item">
                      <figure class="image-box"><a href="http://asiatrade.co.id/#"><img src="./assets/images/sponsors/hanamasa.png"
                                    alt="hanamasa"></a></figure>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <!--Sponsors style one alternate -->

{% endblock %}