{% extends "layouts/default.twig" %}

{% block content %}
    

    <!--Page Title-->
    <section class="page-title" style="background-image:url(./assets/uploads/2018/02/bg-page-title-sugar-cane.jpg);">
      <div class="auto-container">
        <h1>Products</h1>
      </div>
    </section>

    <section class="products-section-two">
    	<div class="auto-container">
        <div class="row clearfix">
          <!--Product Style Two-->
          <div class="product-style-two col-md-6 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div class="clearfix">
                <!--Image Column-->
                <div class="image-column col-lg-5 col-md-12 col-sm-12 col-xs-12">
                  <figure class="image">
                    <img src="./assets/uploads/2018/02/food-image-12.png" alt="AsiaTrade .Co Beras" class="img-fluid">
                  </figure>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="inner">
                        <h3>Beras</h3>
                        <div class="text">
                            <ul>
                                <li>Beras IR64</li> 
                                <li>Beras IR42</li>
                                <li>Beras Pandan Wangi</li>
                                <li>Beras Japonika</li>
                                <li>Beras Ketan</li>
                            </ul>
                                </div>
                                <br>
                        <div class="link-box"><a href="quote.html?item=rice" class="theme-btn btn-style-four" title="Get a Quote">Get A Quote</a></div>
                    </div>
                </div>
              </div>
            </div>
          </div>                
          <!--Product Style Two-->
          <div class="product-style-two col-md-6 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div class="clearfix">
                <!--Image Column-->
                <div class="image-column col-lg-5 col-md-12 col-sm-12 col-xs-12">
                  <figure class="image">
                    <img src="./assets/uploads/2018/03/sugarilp-2.png" alt="AsiaTrade .Co Gula" class="img-fluid">
                  </figure>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-7 col-md-12 col-sm-12 col-xs-12">
                  <div class="inner">
                    <h3>Gula Kristal Putih</h3>
                    <div class="text">Gula yang kami sediakan adalah Gula Kristal Putih</div>
                    <ul>
                      <li>Sweet Indo Lampung (SIL)</li>
                      <li>Indo Lampung Perkasa (ILP)</li>
                      <li>Gunung Madu Plantation (GMP)</li>
                    </ul>
                    <br>                                    
                    <div class="link-box"><a href="quote.html?item=sugar" class="theme-btn btn-style-four" title="Get a Quote">Get A Quote</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Product Style Two-->
          <div class="product-style-two col-md-6 col-sm-6 col-xs-12">
            <div class="inner-box">
              <div class="clearfix">
                <!--Image Column-->
                <div class="image-column col-lg-5 col-md-12 col-sm-12 col-xs-12">
                  <figure class="image">
                    <img src="./assets/images/eggs-basket2.png" alt="AsiaTrade .Co Telor" class="img-fluid">
                  </figure>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-7 col-md-12 col-sm-12 col-xs-12">
                  <div class="inner">
                    <h3>Telor Ayam Negri</h3> 
                    <div class="text">Telor ayam negeri yang kami
                    sediakan adalah telor fresh
                    dengan kualitas premium yang
                    berasal dari peternak pilihan.
                    Seluruh produk kami
                    mengutamakan kualitas terbaik.</div>
                    <br>                                    
                    <div class="link-box"><a href="quote.html?item=eggs" class="theme-btn btn-style-four" title="Get a Quote">Get A Quote</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>                
        </div>                            
      </div>
    </section>

    <section class="sponsors-style-one alternate">
      <div class="row clearfix">
        <div class="sec-title-one"><h2>Our Warehouse</h2></div>
        
        <!--Featured Block One-->
        <div class="featured-block-one col-md-4 col-sm-6 col-xs-12">
          <div class="inner-box">
            <figure class="image">
              <!--img src="./assets/images/rice.png" alt=""-->
            </figure>
            <div class="content">
            </div>
          </div>
        </div>
          
        <!--Featured Block One-->
        <div class="featured-block-one col-md-4 col-sm-6 col-xs-12">
          <div class="inner-box">
            <figure class="image"><img src="./assets/images/warehouse.jpg" alt="AsiaTrade .Co Warehouse"></figure>
            <div class="content"></div>
          </div>
        </div>
          
        <!--Featured Block One-->
        <div class="featured-block-one col-md-4 col-sm-6 col-xs-12">
          <div class="inner-box">
            <figure class="image">
              <!--img src="./assets/images/sugar.png" alt=""-->
            </figure>
            <div class="content"></div>
          </div>
        </div>
      </div>
    </sction>

{% endblock %}