    
    <footer class="main-footer footer-style-one">

      <!--Footer Upper-->
      <div class="footer-upper">
        <div class="auto-container">
          <div class="row clearfix">
            
            <!--Footer Column-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 column">
              <div class="footer-widget about-widget">
                <figure class="footer-logo">
                  <a href="index.html"><img src="./assets/images/logo.png" alt=""></a>
                </figure>
                <strong class="text-uppercase">PT. Asia Niaga Sinergi</strong>
                <ul class="info">
                  <li><strong>Phone:</strong> +62 21 8062 5858</li>
                  <li><strong>Email:</strong> info[@]asiatrade[.]co[.]id</li><br>
                </ul>               
                {# <p class="text">
                  <a href="contact.html" class="theme-btn btn-style-one"><i class="fas fa-envelope"></i> <strong>Contact</strong></a>
                </p> #}
              </div>
            </div>
              
            <!--Footer Column-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 column">
              <div class="footer-widget info-widget">
                <h2>KEEP IN TOUCH</h2>
                <ul class="info">
                  <li>
                    <strong>Address:</strong> <br>Menara Karya Building 28th Floor,<br> 
                    Jl. H. R. Rasuna Said Kav. 1-2<br>
                    Blok X-5 Kuningan Timur, Jakarta 12950<br><br>
                    <strong>Warehouse:</strong><br>
                    Jl. H. Baping No. 45, RT 12 RW 04
                    Kel. Susukan, Kec. Ciracas, Jakarta Timur, Indonesia                    
                  </li>                  
                </ul>
              </div>
            </div>
                                
            <!--Footer Column-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 column padd-left-60">
              <div class="footer-widget links-widget">
                <h2>Links</h2>
                <ul>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="quote.html">Get a Quote</a></li>
                </ul>
              </div>
            </div>
                                  
          </div>                
        </div>
      </div>
        
      <!--Footer Bottom-->
    	<div class="footer-bottom">
        <div class="auto-container">
          <!--Copyright-->
          <div class="copyright">Copyrights &copy; PT. Asia Niaga Sinergi (AsiaTrade Co.). All rights reserved.
            <div>            
              <span><a href="#id" title="id">ID</a></span> &bull; <span><a href="#en" title="en">EN</a></span>
            </div>
          </div>
        </div>
      </div>
      
    </footer>

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html" style="display: none;">
      <span class="fas fa-arrow-up"></span>
    </div>