    
     <footer class="main-footer footer-style-one">
         
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">
                	
                    <!--Footer Column-->
                	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 column">
                        <div class="footer-widget about-widget">
                            <figure class="footer-logo"><a href="index.html"><img src="./assets/images/logo.png" alt=""></a></figure>                            
                            <div class="text"><p></p></div>                            
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 column">
                        <div class="footer-widget info-widget">
                        	<h2>KEEP IN TOUCH</h2>
                            <ul class="info">
                            	<li>Address : Menara Karya Building 28th Floor, 
                                    Jl. H. R. Rasuna Said Kav. 1-2 Blok X-5 Kuningan Timur, 
                                    Jakarta 12950
                                    <br><br>
                                    Warehouse:<br>
                                    Jl. H. Baping No. 45, RT 12 RW 04
                                    Kel. Susukan, Kec. Ciracas, Jakarta Timur, Indonesia</li>
                                <li>Phone :  +62 21 2283 1441</li>
                                <li>Email : info@asiatrade.co.id</li>
                            </ul>
                        </div>
                    </div>
                                        
                    <!--Footer Column-->
                   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 column padd-left-60">
                    	<div class="footer-widget links-widget">
                        <h2>Links</h2>
                        	<div class="row clearfix">
                            	<a href="quote.html" class="theme-btn btn-style-one"><span class="fas fa-reply-all"></span> Get a Quote</a> 
                            </div>                            
                        </div>
                    </div>
                                        
                </div>                
            </div>
        </div>
        
        <!--Footer Bottom-->
    	<div class="footer-bottom">
            <div class="auto-container">                    
                <!--Copyright-->
                <div class="copyright">Copyrights &copy; Asia Trade .Co All rights reserved.</div>                
            </div>
        </div>
        
    </footer>