    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="Bt13gobFBTUdxQOTkj6-AQaA3P3h2VEJevqrdDqzP4c">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PT. ASIA NIAGA SINERGI (AsiaTrade Co.) – Perusahaan yang bergerak dalam perdagangan barangkomoditi pangan antara lain, beras, telur&amp; gula.</title>    

    <script type="text/javascript" src="./assets/js/jquery.js"></script>
    <script type="text/javascript" src="./assets/js/jquery-migrate.min.js"></script>

    {% include "styles.twig" %}

    <link rel="canonical" href="./index.html">
    <link rel="shortlink" href="./index.html">

    <style type="text/css">.fancybox-margin{margin-right:15px;}</style>