    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="Bt13gobFBTUdxQOTkj6-AQaA3P3h2VEJevqrdDqzP4c">

    <meta name="description" content="Asia Trade .Co">
    <meta name="keywords" content="Beras, Gula, Distributor di Indonesia">
    <meta name="author" content="Asiatrade.co.id">

    <title>PT. ASIA NIAGA SINERGI (ANS / AsiaTrade Co.) – Perusahaan yang bergerak dalam perdagangan barang komoditi pangan antara lain, beras, telur &amp; gula.</title>    

    <script type="text/javascript" src="./assets/js/jquery.js"></script>
    <script type="text/javascript" src="./assets/js/jquery-migrate.min.js"></script>

    <link rel="icon" href="./assets/images/favicon.ico?v=1.1">
    <link rel="canonical" href="./index.html">
    <link rel="shortlink" href="./index.html">
    
    <!-- Theme Color -->
	  <meta name="theme-color" content="#a70606">

    <style type="text/css">.fancybox-margin{margin-right:15px;}</style>