    
            <!-- Main Header-->
            <header class="main-header">
                <div class="header-top">
                    <div class="auto-container">
                        <div class="clearfix">
                            <div class="top-left">
                                <div class="social-icon clearfix">
                                    <a href="http://asiatrade.co.id/#">
                                        <span class="">EN</span>
                                    </a>
                                    <a href="http://asiatrade.co.id/#">
                                        <span class="">ID</span>
                                    </a>
                                </div>
                            </div>
                            <!--Top Right-->
                            <div class="top-right">
                                <a href="quote.html" class="theme-btn get-quote-btn"><span class="fa fa-reply-all"></span> Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Main Box -->
                <div class="main-box">
                    <div class="auto-container">
                        <div class="outer-container clearfix">
                            <!--Logo Box-->
                            <div class="logo-box">
                                <div class="logo">
                                    <a href="./index.html">
                                        <img src="./assets/images/logo.png" alt="">
                                    </a>
                                </div>
                            </div>

                            <!--Nav Outer-->
                            <div class="nav-outer clearfix">
                                <!-- Main Menu -->
                                <nav class="main-menu">
                                    <div class="navbar-header">
                                        <!-- Toggle Button -->
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <div class="navbar-collapse collapse clearfix">
                                        <ul id="menu-primary" class="navigation nav navbar-nav navbar-right">
                                            <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home{% if slug == 'index' %} current-menu-item{% endif %} page_item page-item-22 current_page_item active menu-item-29">
                                                <a href="./index.html">Home</a>
                                            </li>
                                            <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page{% if slug == 'about' %} current-menu-item{% endif %} menu-item-36"><a href="./about.html">About</a>
                                            </li>
                                            <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page{% if slug == 'products' %} current-menu-item{% endif %} menu-item-39"><a href="./products.html">Products</a>
                                            </li>
                                            <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page{% if slug == 'contact' %} current-menu-item{% endif %} menu-item-28"><a href="./contact.html">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- Main Menu End-->

                            </div>
                            <!--Nav Outer End-->

                            <!-- Hidden Nav Toggler -->
                            <div class="nav-toggler">
                                <button class="hidden-bar-opener">
                                    <span class="icon fa fa-bars"></span>
                                </button>
                            </div>
                            <!-- / Hidden Nav Toggler -->
                        </div>
                    </div>
                </div>
            </header>
            <!--End Main Header -->