        
        
            <section class="hidden-bar right-align">
              <div class="hidden-bar-closer">
                <button class="btn"><i class="fas fa-times"></i></button>
              </div>
              <!-- Hidden Bar Wrapper -->
              <div class="hidden-bar-wrapper mCustomScrollbar _mCS_1 mCS_no_scrollbar">
                <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0">
                  <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                    <!-- .logo -->
                    <div class="logo text-center">
                      <a href="./index.html">
                        <img src="./assets/images/logo.png" alt="" class="mCS_img_loaded">
                      </a>		
                    </div><!-- /.logo -->
                    <!-- .Side-menu -->
                    <div class="side-menu">
                      <!-- .navigation -->
                      <ul id="menu-primary-1" class="navigation nav navbar-nav navbar-right">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                          <a href="./index.html"><span{% if slug == 'index' %} class="text-danger"{% endif %}>Home</span></a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                          <a href="./about.html"><span{% if slug == 'about' %} class="text-danger"{% endif %}>About</span></a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                          <a href="./products.html"><span{% if slug == 'products' %} class="text-danger"{% endif %}>Products</span></a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                          <a href="./contact.html"><span{% if slug == 'contact' %} class="text-danger"{% endif %}>Contact</span></a>
                        </li>
                      </ul>            
                    </div><!-- /.Side-menu -->
                    <div style="text-transform:uppercase;text-align:center; margin:2rem auto; display:block; position:relative; width:100%;">
                      <a href="./quote.html" class="btn btn-danger"><span class="fas fa-tags"></span> <strong>Get A Quote</strong></a>
                    </div>
                    <div class="text-center social-icon clearfix">                       
                      <a href="http://asiatrade.co.id/#">
                        <strong>ID</strong>
                      </a>
                      &bull;
                      <a href="http://asiatrade.co.id/#">
                        <strong>EN</strong>
                      </a>
                    </div>
                  </div>
                  <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;">
                    <div class="mCSB_draggerContainer">
                      <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 0px; top: 0px;" oncontextmenu="return false;">
                        <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                      </div>
                      <div class="mCSB_draggerRail"></div>
                    </div>
                  </div>
                </div>
              </div><!-- / Hidden Bar Wrapper -->
            </section>